h1 {
	text-align: center;
	vertical-align: middle;
	font-family: helvetica;
	color: white;
	font-size: 100px;
}

.btn-round-lg{
	border-radius: 22.5px;
	margin-top: 30px;
 	width: 200px;
  	display: block;
  	margin-left: auto;
  	margin-right:  auto;
  	font-size: 30px;

  	text-align:center;
 	background-color: black;
 	color: white;
  
  border-color: white;
	
	
}


body {
    background-color: black;
}

#industry {
	color: orange;

}

#company {
	color: orange;
}

#imagine {
	margin-top: 100px;
}

.btn-round-lg:focus {
    outline: none;
}